.header {
    background-color: black;
    height: 100px;
    width: 100%;
    position: absolute;
    color: white;
}

.header_mobile {
    background-color: black;
    height: 50px;
    width: 100%;
    position: absolute;
    color: white 
}


.text {
    text-align: center;
}